In [1]:
%run 02-connect.ipynb

In [2]:
%%sql

SELECT *
FROM billboard_top_100_year_end
LIMIT 10;

,year,year_rank,group,artist,song_name,id
0,1956.0,1.0,"""Elvis Presley""","""Elvis Presley""","""Heartbreak Hotel""",1
1,1956.0,2.0,"""Elvis Presley""","""Elvis Presley""","""Don't Be Cruel""",2
2,1956.0,3.0,"""Nelson Riddle""","""Nelson Riddle""","""Lisbon Antigua""",3
3,1956.0,4.0,"""Platters""","""Platters""","""My Prayer""",4
4,1956.0,5.0,"""Gogi Grant""","""Gogi Grant""","""The Wayward Wind""",5
5,1956.0,6.0,"""Les Baxter""","""Les Baxter""","""The Poor People Of Paris""",6
6,1956.0,7.0,"""Doris Day""","""Doris Day""","""Whatever Will Be Will Be (Que Sera Sera)""",7
7,1956.0,8.0,"""Elvis Presley""","""Elvis Presley""","""Hound Dog""",8
8,1956.0,9.0,"""Dean Martin""","""Dean Martin""","""Memories Are Made Of This""",9
9,1956.0,10.0,"""Kay Starr""","""Kay Starr""","""Rock And Roll Waltz""",10

In [3]:
%%sql

SELECT *
FROM billboard_top_100_year_end
WHERE year_rank = 5 OR artist = '"Gotye"'
LIMIT 10;

,year,year_rank,group,artist,song_name,id
0,1956.0,5.0,"""Gogi Grant""","""Gogi Grant""","""The Wayward Wind""",5
1,1957.0,5.0,"""Jimmy Dorsey""","""Jimmy Dorsey""","""So Rare""",108
2,1958.0,5.0,"""Perez Prado""","""Perez Prado""","""Patricia""",208
3,1959.0,5.0,"""Paul Anka""","""Paul Anka""","""Lonely Boy""",309
4,1960.0,5.0,"""Mark Dinning""","""Mark Dinning""","""Teen Angel""",411
5,1961.0,5.0,"""Del Shannon""","""Del Shannon""","""Runaway""",513
6,1962.0,5.0,"""David Rose""","""David Rose""","""The Stripper""",613
7,1963.0,5.0,"""Chiffons""","""Chiffons""","""He's So Fine""",713
8,1964.0,5.0,"""Beach Boys""","""Beach Boys""","""I Get Around""",814
9,1965.0,5.0,"""Righteous Brothers""","""Righteous Brothers""","""You've Lost That Lovin' Feelin'""",916

In [7]:
%%sql

SELECT *
FROM billboard_top_100_year_end
WHERE year < 2013
    AND (artist LIKE '"%Shannon%"' OR artist LIKE '"%Prado%"')
LIMIT 10;

,year,year_rank,group,artist,song_name,id
0,1958.0,5.0,"""Perez Prado""","""Perez Prado""","""Patricia""",208
1,1961.0,5.0,"""Del Shannon""","""Del Shannon""","""Runaway""",513
2,1961.0,68.0,"""Del Shannon""","""Del Shannon""","""Hats Off To Larry""",576
3,1963.0,100.0,"""Del Shannon""","""Del Shannon""","""Little Town Flirt""",809
4,1965.0,63.0,"""Jackie DeShannon""","""Jackie DeShannon""","""What The World Needs Now Is Love""",974
5,1965.0,99.0,"""Del Shannon""","""Del Shannon""","""Keep Searchin'""",1010
6,1969.0,46.0,"""Jackie DeShannon""","""Jackie DeShannon""","""Put A Little Love In Your Heart""",1363
7,1984.0,49.0,"""Shannon""","""Shannon""","""Let The Music Play""",2920