In [1]:
import pandas as pd

In [4]:
!aws s3 cp s3://wysde2-test/dbr-pyspark/refined/visits_transformed/part2.snappy.parquet ./

download: s3://wysde2-test/dbr-pyspark/refined/visits_transformed/part2.snappy.parquet to ./part2.snappy.parquet

In [3]:
!aws s3 sync s3://wysde2-test/dbr-pyspark/refined/visits_transformed visits_transformed

download: s3://wysde2-test/dbr-pyspark/refined/visits_transformed/_started_588843298770147878 to visits_transformed/_started_588843298770147878
download: s3://wysde2-test/dbr-pyspark/refined/visits_transformed/part-00000-tid-588843298770147878-45671ddc-e504-49d4-8aed-999ffbde4d9b-23-1-c000.snappy.parquet to visits_transformed/part-00000-tid-588843298770147878-45671ddc-e504-49d4-8aed-999ffbde4d9b-23-1-c000.snappy.parquet
download: s3://wysde2-test/dbr-pyspark/refined/visits_transformed/_SUCCESS to visits_transformed/_SUCCESS
download: s3://wysde2-test/dbr-pyspark/refined/visits_transformed/part2.snappy.parquet to visits_transformed/part2.snappy.parquet
download: s3://wysde2-test/dbr-pyspark/refined/visits_transformed/_committed_588843298770147878 to visits_transformed/_committed_588843298770147878

In [5]:
df1 = pd.read_parquet("part2.snappy.parquet")
df1

    visit_id    client_id therapist_id  service_id            visit_ts  month
0          0  830-11-8837  150-60-1665           3 2022-05-21 09:34:39    5.0
1          1         None  150-60-1665           1 2022-02-11 23:51:36    2.0
2          2  154-64-9693  030-45-1969           0 2022-03-23 15:21:37    3.0
3          3  148-49-3184  030-45-1969           1 2022-03-09 17:27:23    3.0
4          4  148-49-3184  150-60-1665           3                 NaT    NaN
5          5  594-87-8512  280-65-5827           2 2022-02-09 17:14:50    2.0
6          6         None  150-60-1665           4 2022-01-08 07:19:43    1.0
7          7  431-25-4334  150-60-1665           3 2022-03-03 04:27:57    3.0
8          8  038-37-7264  030-45-1969           4 2022-01-20 21:52:59    1.0
9          9  898-73-3339  280-65-5827           1 2022-04-25 16:04:39    4.0
10        10  488-22-2850  030-45-1969           1 2022-02-16 05:26:48    2.0

In [4]:
df2 = pd.read_parquet("visits_transformed")
df2

    visit_id    client_id therapist_id  service_id            visit_ts  month
0          0  830-11-8837  150-60-1665           3 2022-05-21 09:34:39    5.0
1          1         None  150-60-1665           1 2022-02-11 23:51:36    2.0
2          2  154-64-9693  030-45-1969           0 2022-03-23 15:21:37    3.0
3          3  148-49-3184  030-45-1969           1 2022-03-09 17:27:23    3.0
4          4  148-49-3184  150-60-1665           3                 NaT    NaN
5          5  594-87-8512  280-65-5827           2 2022-02-09 17:14:50    2.0
6          6         None  150-60-1665           4 2022-01-08 07:19:43    1.0
7          7  431-25-4334  150-60-1665           3 2022-03-03 04:27:57    3.0
8          8  038-37-7264  030-45-1969           4 2022-01-20 21:52:59    1.0
9          9  898-73-3339  280-65-5827           1 2022-04-25 16:04:39    4.0
10        10  488-22-2850  030-45-1969           1 2022-02-16 05:26:48    2.0
11         0  830-11-8837  150-60-1665           3 2022-05-21 09:34:39    5.0
12         1         None  150-60-1665           1 2022-02-11 23:51:36    2.0
13         2  154-64-9693  030-45-1969           0 2022-03-23 15:21:37    3.0
14         3  148-49-3184  030-45-1969           1 2022-03-09 17:27:23    3.0
15         4  148-49-3184  150-60-1665           3                 NaT    NaN
16         5  594-87-8512  280-65-5827           2 2022-02-09 17:14:50    2.0
17         6         None  150-60-1665           4 2022-01-08 07:19:43    1.0
18         7  431-25-4334  150-60-1665           3 2022-03-03 04:27:57    3.0
19         8  038-37-7264  030-45-1969           4 2022-01-20 21:52:59    1.0
20         9  898-73-3339  280-65-5827           1 2022-04-25 16:04:39    4.0
21        10  488-22-2850  030-45-1969           1 2022-02-16 05:26:48    2.0