In [ ]:
import glob
from dotenv import load_dotenv
import os
import pandas as pd
from sqlalchemy import create_engine

load_dotenv()


engine = create_engine(f"postgresql://{os.getenv('DB_STRING')}")

engine.execute("""
                CREATE SCHEMA IF NOT EXISTS olist
                """)

filenames = [os.path.basename(x) for x in glob.glob('./data/*.csv')]
for filename in filenames:
    dataset_name = filename.split('_dataset')[0]
    dataset = pd.read_csv(filename)
    dataset.to_sql(
        name=dataset_name, con=engine, schema="olist", if_exists="replace"
    )
    print(f'SUCCEED: {filename} -> {dataset_name}')

In [10]:
query = """SELECT
    table_schema
    , table_name
    FROM information_schema.tables
    WHERE
    (
    table_schema = 'olist'
    )
    ORDER BY table_schema, table_name;"""

pd.read_sql_query(query, engine)

   table_schema                                    table_name
0         olist                           ./data/olist_orders
1         olist                          ./data/olist_sellers
2         olist  ./data/product_category_name_translation.csv
3         olist                               olist_customers
4         olist                             olist_geolocation
5         olist                             olist_order_items
6         olist                          olist_order_payments
7         olist                           olist_order_reviews
8         olist                                  olist_orders
9         olist                                olist_products
10        olist                                 olist_sellers
11        olist         product_category_name_translation.csv